* {
  padding: 0;
  margin: 0;
  color: aliceblue;
}

body {
  background-color: rgb(48, 47, 47);
  font-family: 'poppins';

}
.nav {
  height: 70px;
  width: 100%;
  background-color: #000000;
  position: fixed;
  margin-top: -10px;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  padding: 17px 10px 10px 60px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 20px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:760px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
 
    top: 7px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
.eduhed{
  color: white;
}

@media (max-width: 800px){

 .image {
    height:300px ;
    width: 300px;
    align-items: center;
    
  }
  .contactmee
  {
    margin-top: 850px;
    font-size: 20px;
  }
  
}
@media (max-width: 1100px) {
  .sd{
    margin-top: 600px;
  }
  .ca{
    margin-top: 600px;
  }
  .margin-edsec{
    margin-top: 400px;
  }
}
  @media (max-width: 600px) {
    .linebreak1{
      margin-top: 70px;
      margin: 60px 40px;
    }
}

@media (max-width: 450px) {
  
  .margin-edsec{
    margin-top: 950px;
  }

  .linebreak1{
    
    margin: 60px 40px;
   
  }
  .linebreak2
  {
    margin-top: 400px;
    height: 20px;
  }
}

@media (max-width:375px) {
  .ca{
    margin-top: 900px;
  }
  .image{
    height: 250px;
    width: 250px;
    align-items: center;
 
    margin-left: 7px;
  }
  .linebreak2
  {
    margin-top: 100px;
    height: 20px;
    margin: 60px 40px;
  }
}
.linebreak2
  {
    margin: 60px 40px;
    height: 2px; color: aliceblue; background: rgb(250, 249, 249);
    
  }
.cba
{
  margin-left: 10vw;
}
@media (max-width:1050px) {
  
.sd{
display: table-column;
}
}
.deco{
  color: aliceblue;
}
.Educationheadings
{
 
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight:300px;
  font-style:normal;
  border-bottom: 3px double;
  width: 100px;
}
.Q{
 justify-content: left;
 align-items: left;
}

.pr {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}
.Home{
  margin-top: 500px;
}

.fancy {
  position: relative;
  white-space: nowrap;
  &:after {
    --deco-height: 0.3125em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.625);
    height: var(--deco-height);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
  }
}


.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #83818b 0%,
      #2c2b2b 29%,
      #fffdfd 67%,
      #3a2e2e 100%);
  background-size: 4px;
  background-clip: border-box;
  background-size: 20% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
  font-size: 30px;
}

@keyframes textclip {
  to {
    background-position: 20% center;
  }
}

.Heading {
  font-size: 25px;
  font-weight: 700;
  color: aliceblue;
  margin-top:32px;
}

#element {
  color: rgb(233, 12, 12);
}
.highlight {
  color: rgb(233, 12, 12);
  font-size: larger;
}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

.linebreak {
  border: 0;
  background: rgb(250, 249, 249);
  height: 2px;
  margin: 60px 40px;
  margin-top: 7px;
}
.asdf{
  margin-left: 10px;
  margin-top: 10px;
}
.secondsection {
  margin: 20px;
  max-width: 80vw;
  margin: auto;
}

.first {
  display: flex;
  justify-content: space-around;
  margin: 23px 0;
  margin-top: 100px;
}
.ark{
color: white;
}

.abcde{
  font-size:20px ;
}
.rightsec {
  display: flex;
  margin: 25px 0;
  width: 40%;
  margin-top: 12px;
  width: 500px;
height: 500px;
}

.leftsec {

  margin: 70px 0;
  font-size: 2.5rem;
  width: 30%;
  justify-content: space-around;
  align-items: center;

}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


:root {
  --clr-neon: hsl(0, 0%, 100%);
  --clr-bg: hsl(0, 0%, 18%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.linebreak1{
  margin-top: 110px;
  margin: 60px 40px;
  background: rgb(250, 249, 249);
 
  height: 2px;
}

.neon-button {
  font-size: 1.5rem;
 

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
}


.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

#button :hover {
  background-color: #fff;
}

.Buttonss {
  margin-top: 40px;
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.waviy {
  position: relative;
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

  0%,
  80% {
    transform: rotateY(360deg)
  }
}
